.inside-top-area{position: relative; overflow: hidden; width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center;}
.inside-top-area img{width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; object-fit: cover;}
.inside-top-area::before{content: ''; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 1.56%, rgba(0, 0, 0, 0.4) 78.05%); top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1;}
.inside-top-area .content-part{position: absolute; bottom: 160px; left: 0; width: 100%; z-index: 2;}
.inside-top-area .sub{font-family: "Anek Devanagari", sans-serif; font-weight: 600; font-size: 24px; line-height: 109%; color: #fff; text-transform: uppercase; letter-spacing: 0.5em; margin: 0 0 40px 0; text-align: center;}
.inside-top-area h1{position: relative; z-index: 2; margin: 0px  auto; text-align: center; font-family:'Esperanza Headline Roman'; font-size: 98px; color:#fff; line-height:98px; max-width: 1540px;}
.content-part {animation: fadeInUp 2s ease backwards;}

/* Medium Desktop */
@media only screen and (max-width: 1640px) {
    .inside-top-area .content-part{bottom: 100px;}
    .inside-top-area h1{font-size: 58px; max-width: 760px; line-height: 68px;}
    .inside-top-area .sub{font-size: 18px; margin: 0 0 10px 0;}
    
}

/* Small Laptop */
@media only screen and (max-width: 1280px) {
  
}

/* Tablet (Landscape) */
@media only screen and (max-width: 1024px) {
    .inner-top-area h1{font-size: 34px; line-height: 44px; padding: 0 30px;}
    .circle-container h1{font-size: 34px; line-height: 44px; padding: 0 30px;}

    .inside-top-area{height: 600px;}
    .inside-top-area h1{font-size: 38px; line-height: 48px;}
}

/* Tablet (Portrait) */
@media only screen and (max-width: 767px) {
    .inner-top-area{height: 600px;}
    .inner-top-area::before {width: 100%;}
    .inner-top-area::after {content: none;}
    .breadcrumb-area::before{width: 100%;}
    .breadcrumb-area::after{content: none;}
    .breadcrumb-area{padding: 5px 20px;}
    .circle{width: 100%; height: 100%;}

    .circle-container{display: none;}
    .inside-mobile-block{display: flex;}

    .inside-top-area .content-part{bottom: 70px;}
    .inside-top-area .sub{font-size: 13px;}
    .inside-top-area h1{font-size: 28px; line-height: 32px; padding: 0 15px;}
    
}
